body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

.page-header {
  padding: 5rem 6rem;
}
.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
* {
  box-sizing: border-box;
}

.project-name {
  font-size: 3.25rem;
}
.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}
.main-content {
  max-width: 64rem;
  padding: 2rem 6rem;
  margin: 0 auto;
  font-size: 1.1rem;
}

.main-content :first-child {
  margin-top: 0;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
.main-content p {
  margin-bottom: 1em;
}
* {
  box-sizing: border-box;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
.navbar_elem {
  float: left;
}
  
.navbar_elem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.navbar_elem a:hover {
  background-color: #111;
}

.center {
  padding: 20px 0;
  text-align: center;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site-footer {
  font-size: 1rem;
}
.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
}
.main-content :first-child {
  margin-top: 0;
}
.site-footer-owner {
  display: block;
  font-weight: bold;
}
a {
  color: #1e6bb8;
  text-decoration: none;
  background-color: transparent;
}